# API Authorization Headers Environment Variables for Local / Vercel
# IMPORTANT: Always wrap values containing special characters like '#' in double quotes!

ATTENDANCE_API_CODE="SVC"
ATTENDANCE_API_KEY="bodySvcProd1q2w3#"
ADMIN_KEY="Qhthdandcl"
PORT=3000
